.collection-details-page {
    padding: 20px;
  }
  
  .collection-title {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .collection-description {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .delete-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f44336;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .game-list {
    list-style-type: none;
    padding: 0;
  }
  
  .game-item {
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.833);
    background-color: rgb(19, 19, 19);
    color: rgb(223, 223, 223);
    padding: 10px;
    border-radius: 4px;
  }
  
  .game-item img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
    border: 3px solid rgba(255, 255, 255, 0.833);
    border-radius: 4px;
  }
  
  .game-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .game-item p {
    margin-bottom: 10px;
  }