.collection-details-page {
    padding: 20px;
    text-align: center;
  }
  
  .collection-title {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .collection-description {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .delete-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f44336;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .games-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .game-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .game-item {
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.833);
    background-color: rgb(19, 19, 19);
    color: rgb(223, 223, 223);
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: transform 0.2s ease;
    width: 80%;
    max-width: 1200px;
  }

  .game-item:hover {
    transform: translateY(-5px);
  }
  
  .game-details {
    flex: 1;
    text-align: left;
  }
  
  .game-item img {
    width: 25%;
    height: auto;
    margin-right: 20px;
    border: 3px solid rgba(255, 255, 255, 0.833);
    border-radius: 4px;
  }
  
  .game-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .game-item p {
    margin-bottom: 10px;
  }

  .upvote-score {
    font-size: 18px;
    margin-left: 10px;
  }
  
  .upvote-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00fd59;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .upvote-button:hover {
    background-color: #00952f;
  }

  .delete-button,
  .edit-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.delete-button {
  background-color: #f44336;
  color: #ffffff;
}

.delete-button:hover {
  background-color: #b90909;
  color: black;
}

.edit-button {
  background-color: #007bff;
  color: #ffffff;
  margin-left: 10px;
}

.edit-button:hover {
  background-color: #0056b3;
}

.game-item button {
  margin-left: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ff6200;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.game-item button:hover {
  background-color: #b31919;
  color: black;
}