@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animated-element {
    animation: fadeInUp 1s ease 0s forwards;
  }

.favourites-page {
    text-align: center;
    padding: 20px;
  }
  
  .favourites-heading {
    font-size: 32px;
    margin-bottom: 20px;
    color: #000000;
  }
  
  .favourites-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .favourite-card {
    border: 1px solid rgba(0, 0, 0, 0.833);
    background-color: rgb(233, 198, 0);
    color: rgb(20, 20, 20);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s ease;
  }
  
  .favourite-card:hover {
    transform: translateY(-5px);
  }
  
  .favourite-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border: 3px solid rgba(255, 255, 255, 0.833);
    border-radius: 4px;
  }
  
  .favourite-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .favourite-card p {
    margin-bottom: 5px;
  }
  
  .rating-box {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .rating-green {
    background-color: #4caf50;
    color: #fff;
  }
  
  .rating-orange {
    background-color: #ff9800;
    color: #fff;
  }
  
  .rating-red {
    background-color: #f44336;
    color: #fff;
  }