button.active {
    background-color: #4CAF50; /* Green background for the active button */
    color: white;
  }

.home-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .search-bar {
    display: flex;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
  }
  
  .search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .game-card {
    border: 1px solid rgba(255, 255, 255, 0.833);
    background-color: rgb(19, 19, 19);
    color: rgb(223, 223, 223);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
  }
  
  .game-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border: 3px solid rgba(255, 255, 255, 0.833);
    border-radius: 4px;
  }
  
  /* .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 8px 12px;
    margin: 0 5px;
    font-size: 14px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #007bff;
    color: #fff;
  } */



.rating-green {
    color: #4CAF50;
}

.rating-orange {
    color: #ffbb00;
}

.rating-red {
    color: #F44336;
}