.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    padding-bottom: 132px;
  }
  
  .registration-form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #000;
  }
  
  .registration-heading {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-input {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .registration-button {
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #00f79092;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .registration-button:hover {
    color: #000000;
  }